<!-- Footer -->
<footer class="bg-dark text-center text-white">
    <!--Grid container-->
    <div class="row">
      <!--Grid row-->
        <!--Grid column-->
        <div class="col-lg-6 col-md-6 mb-1 mt-1 ">
          <h6 class="text-uppercase">BRUNO</h6>

          <ul class="list-unstyled mb-0">
            <li>
              <p class="text-white">bruno.noviello001@studenti.uniparthenope.it</p>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-6 col-md-6 mb-1  mt-1">
          <h6 class="text-uppercase">GENNARO</h6>

          <ul class="list-unstyled mb-0">
            <li>
              <p class="text-white">gennaro.amato001@studenti.uniparthenope.it</p>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright:
    <p class="text-white">PC BUILDER</p>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->